@import "nullstyle";

html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #272733;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

$height: 48px;
$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@import "header";
.page {
    flex: 1 1 auto;

    .main-block {
        position: relative;

        &__body {
            position: relative;
            z-index: 2;
            padding: 203px 0;
            max-width: 780px;
            @media (max-width: 767.98px) {
                padding: 150px 0 62px 0;
            }
            @media (max-width: 640px) {
                padding: 120px 0 52px 0;
            }
        }

        &__title {
            @include adaptiv-font(48, 28);
            line-height: 120.83%;
            font-weight: 700;
            text-transform: uppercase;

            span {
                color: #3e9cdc;
            }
        }

        .text {
            @include adaptiv-font(20, 18);
            line-height: 120%;
            margin: 90px 0 78px 0;
            @media (max-width: 991.98px) {
                margin: 50px 0;
            }

            span {
                font-weight: 700;
            }

            &__list {
                margin: 10px 0 0 0;
            }

            &__item {
                padding-bottom: 4px;

                &:before {
                    content: '-';
                    margin: 0 11px 0 9px;
                }
            }
        }

        &__buttons {
            display: flex;
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            @include adaptiv-font(13, 13);
            text-transform: uppercase;
            width: 183px;
            height: 43px;
            border-radius: 4px;
            transition: all 0.3s ease 0s;

            &:not(:last-child) {
                margin: 0 30px 0 0;
            }

            &:hover {
                box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            }

            &_blue {
                background-color: #3e9cdc;
                border: 1px solid #fff;
                color: #fff;

                &:hover {
                    background-color: #3486be;
                }
            }

            &_white {
                background-color: #fff;
                border: 1px solid #6f6d7b;
                color: #2a2b30;
            }
        }

        &__image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @media (max-width: 991.98px) {
                background-color: #fff;
            }

            img {
                @media (max-width: 991.98px) {
                    object-position: right;
                    opacity: 0.4;
                }
            }
        }
    }

    &__order {
        position: relative;
    }

    .order {
        &__container {
            padding: 118px 0 150px 0;
            @media (max-width: 1044px) {
                padding: 70px 0;
            }
            @media (max-width: 640px) {
                padding: 50px 0;
            }
        }

        &__body {
            position: relative;
            z-index: 2;
            margin: 0 -15px;
            @media (max-width: 1250px) {
                margin: 0;
            }
        }

        &__title {
            color: #fff;
            text-transform: uppercase;
            @include adaptiv-font(36, 28);
            line-height: 119.44%;
            font-weight: 700;
            margin: 0 0 30px 0;
            text-align: center;
            padding: 0 15px;

            span {
                color: #3e9cdc;
            }
        }

        &__subtitle {
            color: #bbb;
            @include adaptiv-font(18, 16);
            line-height: 122.22%;
            margin: 0 0 80px 0;
            text-align: center;
            padding: 0 15px;
            @media (max-width: 640px) {
                margin: 0 0 50px 0;
            }
        }

        &__image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .steps {
            &__body {
                position: relative;
                z-index: 2;
                display: grid;
                //grid-template-columns: repeat(5, 1fr);
                grid-template-columns: repeat(auto-fit, minmax(209px, 1fr));
                row-gap: 70px;
                justify-items: center;
                @media (max-width: 1044px) {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(5, 1fr);
                }
            }

            &__item {
                width: 100px;
                height: 100px;
                background-color: #3e9cdc;
                border: 5px solid #286690;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .dots {
                    position: absolute;
                    left: 107px;
                    display: flex;
                    justify-content: space-between;
                    width: 110px;
                    @media (max-width: 1044px) {
                        display: none;
                    }

                    b {
                        display: block;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #c4c4c4;
                    }
                }

                span {
                    text-align: center;
                    min-width: 190px;
                    @include adaptiv-font(16, 16);
                    line-height: 118.75%;
                    color: #fff;
                    position: absolute;
                    top: 116px;
                }
            }
        }

        &__form {
            flex: 1 1 auto;
            position: relative;
            padding: 145px 0 0 0;
            @media (max-width: 640px) {
                padding: 120px 0 0 0;
            }

            &::after {
                content: '';
                position: absolute;
                top: 100px;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("/img/loading.svg") bottom / 70px no-repeat;
                opacity: 0;
                visibility: hidden;
                transition: all .5s ease 0s;
            }

            &._sending::after {
                opacity: 1;
                visibility: visible;
            }
        }

        .form {
            display: flex;
            flex-wrap: wrap;
            @media (max-width: 1044px) {
                display: block;
                max-width: 700px;
                margin: 0 auto;
            }

            &__item {
                padding: 0 15px;
                position: relative;

                &:not(:last-child) {
                    margin-bottom: 30px;
                    @media (max-width: 991.98px) {
                        margin-bottom: 35px;
                    }
                }

                &:nth-child(1) {
                    flex: 0 1 33.333%;
                }

                &:nth-child(2) {
                    flex: 0 1 33.333%;
                }

                &:nth-child(3) {
                    flex: 0 1 33.333%;
                }

                &:nth-child(4) {
                    flex: 0 1 66.666%;
                }

                &:nth-child(5) {
                    flex: 0 1 33.333%;
                }

                &:last-child {
                    flex: 0 1 100%;
                    display: flex;
                    justify-content: center;
                }

                input[type="text"], select {
                    width: 100%;
                    height: $height;
                    background-color: rgba(255, 255, 255, 0.85);
                    border: 1px solid #fff;
                    border-radius: 3px;
                    padding: 12px 10px;
                    @include adaptiv-font(18, 18);
                    color: #272733;
                    transition: .3s;
                }

                input[type="text"]:focus {
                    background-color: #fff;
                    border: 1px solid #3e9cdc;
                    box-shadow: 0 0 15px #3e9cdc;
                }

                input[type="text"]:focus ~ label, input[type="text"]:not(:placeholder-shown) ~ label {
                    top: -25px;
                    @include adaptiv-font(14, 14);
                    color: #3e9cdc;
                }
            }

            &__select {
                width: 100%;
                position: relative;
                z-index: 100;
                cursor: pointer;

                &.open {
                    .form__dropdown {
                        display: block;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        border-top: none;
                    }

                    .form__input {
                        background-color: #3a3c4c;
                        border: none;
                        color: #fff;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;

                        svg {
                            rotate: 180deg;

                            path {
                                fill: #fff;
                            }
                        }
                    }

                    .form__backdrop {
                        display: block;
                    }
                }
            }

            &__backdrop {
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: transparent;
                z-index: -1;
                display: none;
            }

            &__input {
                width: 100%;
                height: $height;
                background-color: rgba(255, 255, 255, 0.85);
                border: 1px solid #fff;
                border-radius: 3px;
                padding: 0 10px;
                @include adaptiv-font(18, 18);
                color: #272733;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__dropdown {
                display: none;
                position: absolute;
                z-index: 2;
                top: $height;
                left: 0;
                right: 0;
                max-height: 180px;
                overflow-y: auto;
                background-color: #272733;
                border: 1px solid #3a3c4c;
                border-radius: 3px;
            }

            .dropdown {
                &::-webkit-scrollbar {
                    width: 7px;

                    &-track {
                        background: #3a3c4c;
                        border-radius: 3px;
                        margin-block: 3px;
                    }

                    &-thumb {
                        background: #3e9cdc;
                        border-radius: 3px;
                    }
                }

                &__item {
                    @include adaptiv-font(18, 18);
                    line-height: 188.89%;
                    color: #fff;
                    padding: 0 10px;

                    &.selected {
                        color: #3e9cdc;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: rgba(255, 255, 255, 0.05);
                        transition: .15s background-color ease-in;
                    }
                }
            }

            &__input._error {
                box-shadow: 0 0 15px red;
            }

            &__label {
                position: absolute;
                top: 13px;
                left: 26px;
                transition: .3s;
                @include adaptiv-font(18, 18);
                color: #7a7a7a;
            }

            .range {
                display: flex;
                flex-wrap: wrap;

                &__description {
                    flex: 0 1 80%;
                    @include adaptiv-font(18, 18);
                    line-height: 122.22%;
                    color: #fff;
                }

                &__value {
                    flex: 0 1 20%;
                    display: flex;
                    justify-content: flex-end;
                    @include adaptiv-font(18, 18);
                    line-height: 122.22%;
                    font-weight: 700;
                    color: rgba(255, 255, 255, 0.85);
                }

                &__line {
                    flex: 0 1 100%;
                    margin-top: 5px;

                    input[type="range"] {
                        -webkit-appearance: none;
                        width: 100%;
                        height: 6px;
                        background: linear-gradient(90deg, rgb(189, 189, 192) 60%, rgb(189, 189, 192) 60%);
                        border: 1px solid #fff;
                        border-radius: 3px;

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 24px;
                            height: 24px;
                            background-color: #3e9cdc;
                            border: 3px solid #286690;
                            border-radius: 50%;
                            cursor: pointer;
                        }

                        &::-moz-range-thumb {
                            width: 24px;
                            height: 24px;
                            background-color: #3e9cdc;
                            border: 3px solid #286690;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                }
            }

            &__uploadLabel {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: $height;
                background-color: #fff;
                border: 2px solid #3e9cdc;
                border-radius: 3px;
                font-weight: 700;
                @include adaptiv-font(15, 15);
                color: #272733;
                text-transform: uppercase;
                text-align: center;
                padding: 12px 0;
                cursor: pointer;
                transition: .3s;

                svg > path, span {
                    transition: .3s;
                }

                &:hover {
                    box-shadow: 0 0 15px #3e9cdc;
                    border: 2px solid #3e9cdc;

                    & span {
                        color: #3e9cdc;
                    }

                    & svg {
                        path {
                            fill: #3e9cdc;
                        }
                    }
                }

                svg {
                    margin-right: 10px;
                }
            }

            &__uploadInput {
                display: none;
            }

            &__uploadPreview {
                display: inline-block;
                max-width: 80px;
                position: absolute;
                top: 70px;
                right: 15px;
                @media (max-width: 1044px) {
                    left: 15px;
                    max-width: 50px;
                }

                img {
                    max-width: 100%;
                }
            }

            &__button {
                width: 370px;
                height: $height;
                background-color: #3e9cdc;
                border: 1px solid #fff;
                border-radius: 4px;
                font-weight: 700;
                @include adaptiv-font(15, 15);
                text-transform: uppercase;
                color: #fff;
                transition: .3s;
                margin-top: 26px;
                @media (max-width: 1044px) {
                    width: 100%;
                    margin-top: 60px;
                }

                &:hover {
                    scale: 1.05;
                    background-color: #286690;
                    box-shadow: rgba(35, 139, 255, 0.7) 0 0 0 3px;
                }
            }
        }
    }
}

@import "footer";